@media only screen and (max-width: 320px) {
  /* styles for narrow screens */
}

.bgimg {
  background-image: url("../images/bluecouch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-custom {
  background-color: rgba(49, 49, 49, 0.719) !important;
}
.shrink {
  width: 500px !important;
  height: 500px !important;
}
